@tailwind base;
@tailwind components;
@tailwind utilities;

.size{
  width: 300px;
}

.centre{
  margin: auto;
  width: 400px;
}

.align-form{
  justify-content: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 25px 10px 25px 40px;
}

.add-button{
  margin: 0 0 0 127px;
}